{% extends 'accounts/main.html' %} {% block content %}

<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Customer:</h5>
      <hr />
      <a class="btn btn-warning btn-block" href="">Update Customer</a>
      <a
        class="btn btn-info btn-block mt-1"
        href="{% url 'create_order' customer.id %}"
        >Place Order</a
      >
    </div>
  </div>

  <div class="col-md">
    <div class="card card-body">
      <h5>Contact Information</h5>
      <hr />
      <p>Email: <b> {{customer.email}}</b></p>
      <p>Phone: <b>{{customer.phone}} </b></p>
    </div>
  </div>

  <div class="col-md">
    <div class="card card-body">
      <h5>Total Orders</h5>
      <hr />
      <h1 style="text-align: center; padding: 10px">{{total_orders}}</h1>
    </div>
  </div>
</div>

<br />
<div class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">
        {{myFilter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-sm">
        <tr class="text-center p-3">
          <th class="text-center p-3">Product</th>
          <th class="text-center p-3">Price</th>
          <th class="text-center p-3">Date Orderd</th>
          <th class="text-center p-3">Status</th>
          <th class="text-center p-3">Update</th>
          <th class="text-center p-3">Remove</th>
        </tr>

        {% for order in orders %}
        <tr>
          <td class="text-center p-3 align-middle">{{order.product.name}}</td>
          <td class="text-center p-3 align-middle">{{order.product.price}}</td>
          <td class="text-center p-3 align-middle">{{order.date_created}}</td>
          <td class="text-center p-3 align-middle">{{order.status}}</td>
          <td class="text-center p-3 align-middle">
            <a class="btn btn-warning" href="{% url 'update_order' order.id %}"
              >Update</a
            >
          </td>
          <td class="text-center p-3 align-middle">
            <a class="btn btn-danger" href="{% url 'delete_order' order.id %}"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}
