{% extends 'accounts/main.html' %} {% block content %}


{% include "accounts/status.html" %}


<div class="row">
  <div class="col-md-5">
    <hr />
    <h5 class="text-center">CUSTOMERS</h5>
    <div class="card card-body">
      <a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
      <table class="table table-sm">
        <tr>
          <th></th>
          <th>Customer</th>
          <th>Phone</th>
        </tr>

        {% for customer in customers %}

        <tr>
          <td class="align-middle">
            <a class="btn btn-info btn-sm" href="">View</a> 
          </td>
          <td class="align-middle">{{customer.name}}</td>
          <td class="align-middle">{{customer.phone}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="col-md-7">
    <hr />

    <h5 class="text-center">LAST 5 ORDERS</h5>
    <div class="card card-body">
      <a class="btn btn-primary btn-sm btn-block" href="">Create Order</a>
      <table class="table table-sm">
        <tr>
          <th>Customer</th>
          <th>Product</th>
          <th>Date Orderd</th>
          <th>Status</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

        {% for order in orders %}

        <tr>
          <td class="align-middle">{{order.customer}}</td>
          <td class="align-middle">{{order.product}}</td>
          <td class="align-middle">{{order.created_date}}</td>
          <td class="align-middle">{{order.status}}</td>
          <td>
            <a class="btn btn-warning" href="">Update</a> 
          </td>
          <td>
            <a class="btn btn-danger" href="">Delete</a> 
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}
