{% extends 'accounts/main.html' %} {% block content %}


{% include "accounts/status.html" %}

<br />

<div class="row">
  <div class="col-md-5">
    <hr />
    <h5 class="text-center">CUSTOMERS</h5>
    <div class="card card-body">
      <a class="btn btn-primary btn-block" href="">Create Customer</a>
      <table class="table">
        <tr class="text-center">
          <th></th>
          <th>Customer</th>
          <th>Phone</th>
        </tr>

        {% for customer in customers %}

        <tr class="align-middle text-center">
          <td >
            <a class="btn btn-info" href="{% url 'customer' customer.id %}">View</a> 
          </td>
          <td>{{customer.name}}</td>
          <td>{{customer.phone}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="col-md-7">
    <hr />

    <h5 class="text-center">LAST 5 ORDERS</h5>
    <div class="card card-body">
      {% comment %} <a class="btn btn-primary btn-block" href="{% url 'create_order' %}">Create Order</a> {% endcomment %}
      <table class="table">
        <tr class="text-center">
          <th>Customer</th>
          <th>Product</th>
          <th>Order Date</th>
          <th>Status</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

        {% for order in orders %}

        <tr class="align-middle text-center">
          <td >{{order.customer}}</td>
          <td >{{order.product}}</td>
          <td >{{order.date_created}}</td>
          <td >{{order.status}}</td>
          <td>
            <a class="btn btn-warning" href="{% url 'update_order' order.id %}">Update</a> 
          </td>
          <td>
            <a class="btn btn-danger" href="{% url 'delete_order' order.id %}">Delete</a> 
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}
